:root {
	--ion-color-primary: #ae2dd2;
	--ion-color-primary-rgb: 174,45,210;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #9928b9;
	--ion-color-primary-tint: #b642d7;


}